@media screen and (max-width: 360px){
	header{
	padding: 10px 0;
    grid-template-columns: 1fr;
	}

	header a{
		text-align:center;
	}

	header a img{
		width: 100px;
	}

	.nav ul{
		font-size: 3vw;
	}

    section.first p{
    font-size: 5vw;
    color: red;
    }

    .second{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
	}
}