body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-family: lato;
    font-size: 15px;
}

header{
    height: 50px;
    background-color: #111;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
}

.nav ul{
    list-style: none;
    padding: 0;
    text-align: right;
}

.nav ul li{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 14px;
}

.nav a:hover{
    transition: 300ms;
    color: #e26262;
}

.nav .active{
    color: #e26262;
}

.first{
    background-color: #222;
    text-align:center;
    padding: 50px;
}

.first h1{
    color: #999;
    margin: 0;
    font-size: 40px;
}

.first h1 span{
    color: #fff;
}

.first p{
    color: #999;
    padding: 0 150px;
    display: block;
}

.first .btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background-color: #e26262;
    margin: 10px;
    text-transform: uppercase;
}

.first .btn:hover{
    background-color: #333;
    transition: 300ms;
    box-shadow: 1px 1px 2px black;
}

.second{
    background-color: #fff;
    text-align-last: center;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    background-color: #eee;
}

.second div{
    text-align: center;
}

.second div img{
    height: 40px;
}

.second div h2{
    font-size: 16px;
}

.second div p{
    font-size: 13px;
}

.second div p{
    line-height: 25px;
}

.third{
    text-align: center;
    margin: 40px 0;
}

.third .title h1{
    margin: 0;
}

.third .menu{
    margin: 20px 0;
}

.third .menu a{
    text-decoration: none;
    color: #fff;
    background-color: #e26262;
    padding: 7px 15px;
    border-radius: 5px;
    display: inline-block;
    font-family: arial;
}

.third .menu a:hover{
    background-color: #333;
    transition: 300ms;
}

.third .menu .active{
    background-color: #333;
}

.third .gallery{
    margin: 10px 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.third .gallery img{
    width: 100%;
}

.third .gallery img:hover{
    cursor: pointer;
}

.fourth{
    text-align: center;
    background-color: #222;
    color: #999;
    padding: 10px;
    font-size: 14px;
}

.fourth h2{
    color: #fff;
    font-size: 16px;
}

.fourth .info p{
    margin: 0 10px;
    display: inline-block;
}

.fourth .info img{
    width: 12px;
}

.fourth .contact{
    margin: 20px 0 0 0;
}

.fourth .contact img{
    height: 20px;
}

footer{
    background-color: #111;
    text-align: center;
    height: 50px;
    color: #999;
    line-height: 50px;
}

footer p{
    margin: 0;
}
