body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    height: 50px;
    background-color: #1c1c1c;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

header img{
    height: 33px;
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    justify-items:center;
}

.nav ul li{
    display: inline-block;
}

.nav a{
    padding: 10px;
    text-decoration: none;
    color: #d0d0d0;
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.nav a:hover{
    transition: 300ms;
    color: #f74e4d;
}

.nav .active{
    color: #f74e4d;
}

.first{
    background-color: #1F1F1F;
    text-align:center;
    padding: 50px;
    padding-bottom: 50px;
}

.first h1{
    color: #d0d0d0;
    margin: 0;
    font-weight: 300;
    font-size: 62px;
}

.first h1 span{
    color: #d0d0d0;
    font-weight: 800;
}

.first p{
    color: #d0d0d0;
    font-size: 42px;
    font-weight: 300;
    margin-top: 20px;
}

.first .btn{
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
    background-color: #F74D4C;
    text-transform: uppercase;
    border-radius: 5px;
}

.second{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 90px;
    background-color: #f8f8f8;
    grid-gap: 20px;
    color: #505050;
}

.second div h2{
    font-size: 18px;
}

.second div p{
    font-size: 15px;
    line-height: 25px;
}

.second div img{
    height: 50px;
    margin-bottom: 20px;
}

.third{
    margin: 80px auto;
    text-align:center;
    color: #616161;
}

.third .title  h1{
    font-size: 30px;
    font-weight: 800;
}

.third .title p{
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0;
}

.third .menu a{
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 13px 20px;
    font-family: arial;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    background-color: #f74e4d;
    text-transform: uppercase;
}

.third .menu .active{
    background-color: #616161;
}

.third .menu a:hover{
        background-color: #616161;
}

.third .gallery{
    padding: 10px 75px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.fourth{
    text-align: center;
    background-color: #222;
    color: #999;
    padding-top: 30px;
    height: 300px;
    font-size: 14px;
}

.fourth h2{
    color: #e0e0e0;
    font-weight: 800;
    font-size: 30px;
}

.fourth p{
    font-size: 20px;
    font-weight: 300;
}

.fourth .info p{
    margin: 0 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}

.fourth .info img{
    width: 10px;
}

.fourth .contact{
    margin: 20px 0 0 0;
}

.fourth .contact img{
    margin-top: 10px;
    height: 35px;
}

footer{
    background-color: #202020;
    text-align: center;
    height: 90px;
    color: #bebebe;
    font-size: 14px;
    line-height: 90px;
}

footer p{
    margin: 0;
}
